<!DOCTYPE html>
<html>
  <head>
    <title>Ejercicio Repaso Videojuegos</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Este sitio web rtata sobre videojuegos" />
    <meta name="keywords" content="videojuegos,colecciones,games" />
    <meta name="author" content="Francisco Romero" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="alternate"
      href="atom.xml"
      type="application/atom+xml"
      title="Atom"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="videojuegos.com" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/videojuegos.css" />
    <script src="https://kit.fontawesome.com/ef48f4e9ad.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include("partials/menuNav") %>
    
    <section id="heroVideojuegos">
      <h2>Lista Videojuegos</h2>

      <div class="card-container">

        <!-- mostrar todos los juegos desde el json --> 
        <% arrayVideojuegos.forEach(juego => { %>
        <a href="/videojuegos/<%= juego.id %>">
          <div class="card">
            <picture class="imagen">
              <img src="<%= juego.imagen %>" alt="foto">
            </picture>
            <h2 class="titulo"><%= juego.titulo %></h2>
            <p class="descripcion">
              <%= juego.descripcion %>
            </p>
            <div class="tags">
              <% juego.categoria.forEach(etiqueta => { %>
                <span><%= etiqueta %></span>
              <% }) %>
            </div>
            <p class="precio"><%= juego.precio %> €</p>
          </div>
        </a>  
        <% }) %>

        

      </div>
    </section>

    <%- include("partials/footer") %>
  </body>
</html>